<section fxLayout="column" fxLayout="center center">
  <div class="image">
    <img src="https://www.ice.edu/sites/default/files/inline-images/migrated/2013/08/Chocolate-055-300x450.jpg" alt="">
  </div>
  <div class="text">
    <h3>About Us</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur molestiae, fugiat cupiditate cumque rem temporibus ipsam corrupti consequatur beatae eligendi porro perspiciatis ab nam sit. Voluptatum blanditiis error nostrum fugit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quos ipsa veniam. Harum possimus libero, cum aspernatur dolore laborum voluptatem ipsam asperiores ad corporis, ullam accusamus, illo eius impedit maxime!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet repellendus quaerat, facere saepe veniam consequatur velit nulla earum placeat aut perspiciatis natus odio architecto voluptatum reiciendis quisquam magnam, dicta nesciunt!</p>
  </div>
</section>