<form (ngSubmit)="create()" [formGroup]="createForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <h2>Create New Products</h2>
  <mat-form-field>
    <input formControlName="title" matInput type="text" placeholder="Title is here!">
    <mat-label>Title</mat-label>
    <mat-error *ngIf="createForm.get('title').hasError('required')">Title is required.</mat-error>
    <mat-error *ngIf="createForm.get('title').hasError('minlength')">Title must be at least 3 symbols..</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="description" matInput type="text" placeholder="Description is here!">
    <mat-label>Description</mat-label>
    <mat-error *ngIf="createForm.get('description').hasError('required')">Title is required.</mat-error>
    <mat-error *ngIf="createForm.get('description').hasError('minlength')">Title must be at least 10 symbols..
    </mat-error>
  </mat-form-field>
  <mat-form-field>
      <input formControlName="image" matInput type="text" placeholder="Image is here!">
      <mat-label>Image Url</mat-label>
      <mat-error *ngIf="createForm.get('image').hasError('required')">Title is required.</mat-error>
    </mat-form-field>
  <mat-form-field>
      <input formControlName="price" matInput placeholder="0.00" type="number" class="example-right-align">
      <mat-label>Price</mat-label>
      <mat-error *ngIf="createForm.get('price').hasError('required')">Price is required.</mat-error>
      <mat-error *ngIf="createForm.get('price').hasError('min')">Price min 1!</mat-error>
    </mat-form-field>
  <button [disabled]="createForm.invalid" mat-raised-button type="submit">Create</button>
</form>