<section id="footer">
    <section class="f">
        <ul>
          <li>
            <a class="soc" href="https://www.facebook.com/">
              <i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a class="soc" href="https://twitter.com/">
              <i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a class="soc" href="https://www.instagram.com/">
              <i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </section>
</section>